@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*Resetando estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Galeria*/
.galeria{
    font-family: 'Open Sans', sans-serif;
}
.box-imagens{
    display:flex;
    width: 85%;
    margin: 50px auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}
.box-imagens .imagem{
    margin-top: 15px;
    width: 20%;
    position: relative;
    height:20%;
    margin-bottom: -10px;
}
.imagem img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

/*Responsividade*/
@media screen and (max-width:1000px){
    .box-imagens{
        margin-top: 18px;
        width: 95%;
    }
}
@media screen and (max-width:700px){
    .box-imagens{
        margin-top: 18px;
        width: 90%;
    }
    .box-imagens .imagem{
        width: 48%;
    }
}
@media screen and (max-width:450px){
    .box-imagens{
        margin-top: 18px;
        width: 98%;
    }
    .box-imagens .imagem{
        width: 80%;
    }
}